body {
  background-color: #055220;
  text-align: center;
}
.heading {
  font-family: papyrus, fantasy;
  font-size: 35px;
  color: white;
}
#button {
  transition-duration: 0.4s;
  margin-top: 30px;
  background-color: lightblue;
  color: white;
}

p {
  font-family: "Console", monospace;
  font-size: 15px;
  color: white;
}

a {
  font-family: console, monospace;
  font-size: 20px;
  color: white;
}
